#sp_product_tabs_panel .sp-tab-accordion-wrapper {
	padding: 25px;
	padding-bottom: 10px;
}

#sp_product_tabs_panel.panel .sp-tab-item {
	margin-bottom: 15px;
	background: #F6F7F7;
}

#sp_product_tabs_panel.panel .sp-tab-header {
	display: flex;
	cursor: pointer;
	padding: 14px 20px;
	align-items: center;
	border: 1px solid #D0D7DB;
	justify-content: space-between;
}

#sp_product_tabs_panel.panel .sp-tab-content {
	padding: 24px;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #D0D7DB;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	overflow: hidden;
}

.woocommerce_options_panel .sp-tab-content textarea {
    float: none;
}

#sp_product_tabs_panel.panel .sp-tab-controls label {
	width: auto;
	font-weight: 400;
	margin-left: 18px;
	cursor: pointer;
}

#sp_product_tabs_panel.panel .sp-tab-controls input {
	margin-right: 5px;
	margin-bottom: 3px;
}

#sp_product_tabs_panel .sp-product-tabs-notice {
	font-size: 14px;
    padding: 0 0 20px 25px;
}

/* Gallery Image Preview */
.sp-tab-accordion-wrapper .sp-gallery-preview {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 10px;
}

.sp-tab-accordion-wrapper .sp-gallery-thumb {
	position: relative;
	width: 80px;
	cursor: move;
}

.sp-tab-accordion-wrapper .sp-gallery-thumb img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	border: 1px solid #3c415087;
}

.sp-tab-accordion-wrapper .sp-remove-thumb {
	position: absolute;
	top: -5px;
	right: -5px;
	background: #858585;
	color: #fff;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 16px;
	font-size: 18px;
	cursor: pointer;
}

.sp-gallery-field .sp-img-gallery-all-buttons {
	display: flex;
	gap: 8px;
}

.sp-gallery-field .sp-img-gallery-all-buttons button.button {
	font-weight: 500;
    font-size: 12px;
    background-color: #f6f7f7;
    color: #2c3333;
    padding: 4px 12px;
    border: 1px solid #c3c4c7;
}

.sp-gallery-field .sp-img-gallery-all-buttons>p {
	padding: 0;
}

.sp-img-gallery-all-buttons button.button.sp-edit-gallery {
	margin-right: 8px;
}

.sp-img-gallery-all-buttons button.sp-remove-gallery {
	background-color: #BD1D23 !important;
	color: #fff !important;
	outline: unset;
	border: unset;
}

.sp-img-gallery-all-buttons button.sp-remove-gallery:hover {
	background-color: #c7181e !important;
	color: #fff !important;
}

.sp-img-gallery-all-buttons button.sp-edit-gallery {
	background-color: #0085BA !important;
	color: #fff !important;
	border: unset;
}

.sp-img-gallery-all-buttons button.sp-edit-gallery:hover {
	background-color: #088ec3 !important;
	color: #fff !important;
}

.sp-tab-accordion-wrapper .hidden {
	display: none;
}

/* Style for video overriding settings */
.sp-video-repeater-wrapper .sp-video-repeater-items {
	border: 1px solid #C3C4C7;
	border-radius: 4px;
	width: 600px;
}

.sp-video-repeater-wrapper .sp-video-repeater-item {
	display: flex;
	gap: 22px;
	width: 500px;
	padding: 12px 20px;
	border-radius: 4px;
	margin-bottom: 20px;
	background-color: #F6F7F7;
	border: 1px solid #dddddd;
}

.sp-video-repeater-wrapper .sp-repeater-header {
	border: 0;
	gap: 158px;
	display: flex;
	font-size: 13px;
	color: #2C3333;
	font-weight: 500;
	padding: 8px 20px;
	padding-left: 20px;
	border-radius: 4px;
	border-bottom: 1px solid #C3C4C7;
	background-color: #F0F0F1;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.sp-video-repeater-wrapper .repeater-field-group {
	padding: 20px;
	padding-bottom: 0;
}

.sp-video-repeater-wrapper button.sp-add-repeater-item {
	margin: 0 0 20px 20px;
}

.sp-video-repeater-wrapper .repeater-field-group .sp-video-repeater-item>select,
.sp-video-repeater-wrapper .repeater-field-group .sp-video-repeater-item>input {
	height: 38px;
}

.sp-video-repeater-wrapper .short.wc_input_text {
	width: 80% !important;
}


/* Styles for FAQs Section */
.sp-sort-placeholder {
	background: #f0f0f0;
	border: 2px dashed #bbb;
	height: 54px;
	margin-bottom: 10px;
}

.sp-repeater-item {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 4px;
}

.sp-repeater-item .sp-repeater-header {
	display: flex;
	cursor: pointer;
	justify-content: space-between;
	padding: 10px 20px;
	align-items: center;
	position: relative;
	border-radius: 4px;
	background-color: #F6F7F7;
}

.sp-repeater-item .sp-repeater-body {
	display: none;
	padding: 15px;
}

.sp-repeater-item .sp-repeater-body label {
	margin: 0 !important;
	margin-bottom: 10px !important;
}

.sp-tab-item button.button.sp-add-repeater-item {
	color: #2C3333;
	border: 1px solid #C3C4C7;
	padding: 6px 18px;
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 500;
	font-size: 12px;
}

.sp-tab-item span.sp-plus-repeater-icon {
	font-size: 20px;
	font-weight: 400;
	height: 0;
	display: flex;
	margin-bottom: 4px;
	align-items: center;
}

.sp-faq-field-group {
	margin: 0;
	display: flex;
	margin-bottom: 10px;
	flex-direction: column;
}

.sp-faq-field-group label {
	display: block;
	margin-bottom: 6px;
	font-weight: 600;
}

#sp_product_tabs_panel .sp-repeater-item input[type="text"],
#sp_product_tabs_panel .sp-repeater-item textarea {
	width: 100%;
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#sp_product_tabs_panel .sp-repeater-item textarea {
	height: 120px;
}

/* Styles for download section */
.sp-repeater-wrapper .sp-download-field-group {
	display: flex;
	flex-direction: column;
}

.sp-repeater-wrapper .sp-download-field-group:nth-child(2) label {
	margin-top: 15px !important;
}

.sp-repeater-wrapper .sp-download-field-group:nth-child(2) .field-wrap {
	display: flex;
	gap: 10px;
}

.sp-repeater-wrapper .sp-download-field-group .field-wrap button.sp-upload-file {
	margin-left: 0;
	padding: 4px 16px;
	font-size: 14px;
	font-weight: 500;
	border: 0;
	box-shadow: none;
	color: #fff;
	background-color: #08A683;
}

.sp-repeater-wrapper .sp-download-field-group .field-wrap button.sp-upload-file::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 22px;
	background-image: url(../../partials/models/assets/images/download.svg);
	background-repeat: no-repeat;
	margin-left: -2px;
	vertical-align: middle;
	margin-right: 5px;
}


/* 
* Remove button style of Video & accordion repeater field group.
*/
.sp-video-repeater-item button.sp-remove-repeater-item,
.sp-repeater-item button.sp-remove-repeater-item {
	border: 0;
	outline: 0;
	box-shadow: none;
	font-size: 22px;
	color: #706D6C;
	height: 0;
	display: flex;
	align-items: center;
}

.sp-video-repeater-item button.sp-remove-repeater-item {
	padding: 0;
	min-height: 38px;
	margin-left: -8px;
}

.sp-video-repeater-item button.sp-remove-repeater-item:hover,
.sp-video-repeater-item button.sp-remove-repeater-item:focus,
.sp-repeater-item button.sp-remove-repeater-item:hover,
.sp-repeater-item button.sp-remove-repeater-item:focus {
	border: 0;
	box-shadow: none;
	color: #3d3835;
	background-color: transparent;
}


@font-face {
	font-family: 'sp-smart-tab-fontello';
	src: url('./font/fontello.eot?16269409');
	src: url('./font/fontello.eot?16269409#iefix') format('embedded-opentype'),
		url('./font/fontello.woff2?16269409') format('woff2'),
		url('./font/fontello.woff?16269409') format('woff'),
		url('./font/fontello.ttf?16269409') format('truetype'),
		url('./font/fontello.svg?16269409#fontello') format('svg');

	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	  font-family: 'fontello';
	  src: url('../font/fontello.svg?16269409#fontello') format('svg');
	}
  }
  */
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "sp-smart-tab-fontello";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-smart-tab:before {
	content: '\e800';
}

/* product tab icon */
#woocommerce-product-data ul.wc-tabs li.sp_products_table_options a::before {
	content: '\e800';
	font-family: "sp-smart-tab-fontello";
}
